html {
  display: flex;
  min-height: 100%;
}

.page {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  background-color: #F8D4D4;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  background-color: #9E6060;
}
.header__navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2.5vw;
}
.header__text {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  color: #F8D4D4;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 1.25vw;
  transition: 0.25s;
}
.header__text::selection {
  color: #9E6060;
  background-color: #F8D4D4;
}
.header__text_link {
  text-decoration: none;
}
.header__text_link:last-of-type {
  margin: 0;
}
.header__text_link:hover, .header__text_link:hover path {
  color: #F46666;
  fill: #F46666;
  transition: 0.25s;
}
.header__icon {
  margin-right: 0.625vw;
}
.header__icon path {
  transition: 0.25s;
}
.header__logo {
  color: #F8D4D4;
  font-family: "Stalinist One", cursive;
  font-weight: 400;
  font-size: 2.25rem;
  margin-left: 2.5vw;
  text-decoration: none;
}
.header__logo::selection {
  color: #9E6060;
  background-color: #F8D4D4;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.auth-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  margin: 0 auto 0 10.625vw;
}
.auth-form__header {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  margin-right: 1.5625vw;
}
.auth-form__header::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.auth-form__error {
  color: #F46666;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  margin-right: 1.5625vw;
  margin-bottom: 6.25vh;
}
.auth-form__error::selection {
  color: #F8D4D4;
  background-color: #F46666;
}
.auth-form__line {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  margin: 6.25vh 0 0 6.25vw;
}
.auth-form__line:last-of-type {
  margin: 4.6875vh 0 6.25vh 6.25vw;
}
.auth-form__line label {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  width: 50%;
}
.auth-form__line label::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.auth-form__line input {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  border-radius: 40px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 2.25rem;
  width: 28.125vw;
  max-width: 450px;
  padding-left: 1.25vw;
  margin-left: 1.5625vw;
  transition: 0.25s;
}
.auth-form__line input::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.auth-form__line input:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  outline: none;
  transition: 0.5s;
}
.auth-form__line input:focus {
  border-color: #F46666;
  box-shadow: -2.5px 2.5px 0px #F46666;
  outline: none;
  transition: 0.25s;
}
.auth-form__button {
  color: #F8D4D4;
  font-family: "Ruda", sans-serif;
  font-weight: 900;
  font-size: 1.625rem;
  text-shadow: -2px 2px 0px #F46666, -4px 4px 0px #9E6060;
  background-color: #F46666;
  border: 2px solid #9E6060;
  border-radius: 21px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 50px;
  padding: 0 1.25vw;
  transition: 0.25s;
}
.auth-form__button:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  transition: 0.5s;
}
.auth-form__button:active {
  box-shadow: -2.5px 2.5px 0px #F46666;
  background-color: #9E6060;
  transition: 0.25s;
}
.auth-form__button_margin {
  margin-top: 12.5vh;
}

.surveys {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  margin: 16.1458333333vh 10.625vw;
}
.surveys__navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
  margin-bottom: 6.25vh;
}
.surveys__header {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
}
.surveys__header::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.surveys__button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  color: #F8D4D4;
  font-family: "Ruda", sans-serif;
  font-weight: 900;
  font-size: 1.625rem;
  text-shadow: -2px 2px 0px #F46666, -4px 4px 0px #9E6060;
  background-color: #F46666;
  border: 2px solid #9E6060;
  border-radius: 42px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 50px;
  padding: 0 1.25vw;
  transition: 0.25s;
}
.surveys__button:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  transition: 0.5s;
}
.surveys__button:active {
  box-shadow: -2.5px 2.5px 0px #F46666;
  background-color: #9E6060;
  transition: 0.25s;
}
.surveys__button::selection {
  background-color: #9E6060;
}
.surveys__icon {
  margin-right: 0.625vw;
}
.surveys__list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  margin: 0 1.25vw;
}

.survey {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4.1666666667vh;
  padding-bottom: 4.1666666667vh;
  border-bottom: 2px dashed #9E6060;
}
.survey:last-of-type {
  border-bottom: none;
}
.survey__text {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  color: #F46666;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  border-radius: 42px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 50px;
  padding: 0 1.25vw;
}
.survey__text::selection {
  background-color: #9E6060;
}
.survey__icon {
  margin-right: 0.625vw;
}
.survey__button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  color: #F8D4D4;
  font-family: "Ruda", sans-serif;
  font-weight: 900;
  font-size: 1.625rem;
  text-shadow: -2px 2px 0px #F46666, -4px 4px 0px #9E6060;
  background-color: #F46666;
  border: 2px solid #9E6060;
  border-radius: 42px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 50px;
  width: 22.5vw;
  padding: 0 1.25vw;
  transition: 0.25s;
}
.survey__button span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.survey__button span::selection {
  background-color: #9E6060;
}
.survey__button:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  transition: 0.5s;
}
.survey__button:active {
  box-shadow: -2.5px 2.5px 0px #F46666;
  background-color: #9E6060;
  transition: 0.25s;
}
.survey__button::selection {
  background-color: #9E6060;
}
.survey__button_long {
  width: 35.9375vw;
}
.survey__button_secondary {
  font-weight: 400;
  font-size: 1.5rem;
  background-color: #9E6060;
  text-shadow: none;
  border: 2px solid #F46666;
  box-shadow: -5px 5px 0px #F46666;
  width: auto;
}
.survey__button_secondary:hover {
  box-shadow: -2.5px 2.5px 0px #F46666;
  transition: 0.5s;
}
.survey__button_secondary:active {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  background-color: #F46666;
  transition: 0.25s;
}
.survey__button_secondary::selection {
  color: #9E6060;
  background-color: #F8D4D4;
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  justify-self: end;
  width: 100%;
  height: 75px;
  background-color: #9E6060;
  margin-top: auto;
}
.footer__copyright {
  color: #F8D4D4;
  text-shadow: -1px 1px 0px #9E6060, -2px 2px 0px #F46666;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
}
.footer__copyright::selection {
  color: #9E6060;
  background-color: #F8D4D4;
  text-shadow: -1px 1px 0px #F8D4D4, -2px 2px 0px #F46666;
}

/*# sourceMappingURL=main.css.map */
