html {
  display: flex;
  min-height: 100%;
}

.page {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  background-color: #F8D4D4;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  background-color: #9E6060;
}
.header__navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2.5vw;
}
.header__text {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  color: #F8D4D4;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 1.25vw;
  transition: 0.25s;
}
.header__text::selection {
  color: #9E6060;
  background-color: #F8D4D4;
}
.header__text_link {
  text-decoration: none;
}
.header__text_link:last-of-type {
  margin: 0;
}
.header__text_link:hover, .header__text_link:hover path {
  color: #F46666;
  fill: #F46666;
  transition: 0.25s;
}
.header__icon {
  margin-right: 0.625vw;
}
.header__icon path {
  transition: 0.25s;
}
.header__logo {
  color: #F8D4D4;
  font-family: "Stalinist One", cursive;
  font-weight: 400;
  font-size: 2.25rem;
  margin-left: 2.5vw;
  text-decoration: none;
}
.header__logo::selection {
  color: #9E6060;
  background-color: #F8D4D4;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.dash {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.auth-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  margin: 0 auto 0 10.625vw;
}
.auth-form__header {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  margin-right: 1.5625vw;
}
.auth-form__header::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.auth-form__error {
  color: #F46666;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  margin-right: 1.5625vw;
  margin-bottom: 6.25vh;
}
.auth-form__error::selection {
  color: #F8D4D4;
  background-color: #F46666;
}
.auth-form__line {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  margin: 6.25vh 0 0 6.25vw;
}
.auth-form__line:last-of-type {
  margin: 4.6875vh 0 6.25vh 6.25vw;
}
.auth-form__line label {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  width: 50%;
}
.auth-form__line label::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.auth-form__line input {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  border-radius: 40px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 2.25rem;
  width: 28.125vw;
  max-width: 450px;
  padding-left: 1.25vw;
  margin-left: 1.5625vw;
  transition: 0.25s;
}
.auth-form__line input::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.auth-form__line input:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  outline: none;
  transition: 0.5s;
}
.auth-form__line input:focus {
  border-color: #F46666;
  box-shadow: -2.5px 2.5px 0px #F46666;
  outline: none;
  transition: 0.25s;
}
.auth-form__button {
  color: #F8D4D4;
  font-family: "Ruda", sans-serif;
  font-weight: 900;
  font-size: 1.625rem;
  text-shadow: -2px 2px 0px #F46666, -4px 4px 0px #9E6060;
  background-color: #F46666;
  border: 2px solid #9E6060;
  border-radius: 21px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 50px;
  padding: 0 1.25vw;
  transition: 0.25s;
}
.auth-form__button::selection {
  background-color: #9E6060;
}
.auth-form__button:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  transition: 0.5s;
}
.auth-form__button:active {
  box-shadow: -2.5px 2.5px 0px #F46666;
  background-color: #9E6060;
  transition: 0.25s;
}
.auth-form__button_margin {
  margin-top: 12.5vh;
}

.surveys {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  margin: 16.1458333333vh 10.625vw;
}
.surveys__navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
  margin-bottom: 6.25vh;
}
.surveys__header {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
}
.surveys__header::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.surveys__options {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}
.surveys__search {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  border-radius: 42px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 50px;
  padding: 0 1.25vw;
  box-sizing: border-box;
  margin-left: 3.125vw;
  transition: 0.25s;
}
.surveys__search:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  transition: 0.5s;
}
.surveys__search:focus-within {
  border-color: #F46666;
  box-shadow: -2.5px 2.5px 0px #F46666;
  transition: 0.25s;
}
.surveys__input {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  border: none;
  background-color: #F8D4D4;
}
.surveys__input:focus {
  outline: none;
}
.surveys__input::placeholder {
  color: #9E6060;
}
.surveys__input::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.surveys__button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  color: #F8D4D4;
  font-family: "Ruda", sans-serif;
  font-weight: 900;
  font-size: 1.625rem;
  text-shadow: -2px 2px 0px #F46666, -4px 4px 0px #9E6060;
  background-color: #F46666;
  border: 2px solid #9E6060;
  border-radius: 42px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 50px;
  padding: 0 1.25vw;
  transition: 0.25s;
}
.surveys__button:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  transition: 0.5s;
}
.surveys__button:active {
  box-shadow: -2.5px 2.5px 0px #F46666;
  background-color: #9E6060;
  transition: 0.25s;
}
.surveys__button::selection {
  background-color: #9E6060;
}
.surveys__icon {
  margin-right: 0.625vw;
}
.surveys__list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  margin: 0 1.25vw;
}
.surveys__error {
  color: #F46666;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
}

.create-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  margin: 16.1458333333vh 10.625vw;
}
.create-form__header {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
}
.create-form__header::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.create-form__controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
}
.create-form__button {
  color: #F8D4D4;
  font-family: "Ruda", sans-serif;
  font-weight: 900;
  font-size: 1.625rem;
  text-shadow: -2px 2px 0px #F46666, -4px 4px 0px #9E6060;
  background-color: #F46666;
  border: 2px solid #9E6060;
  border-radius: 42px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 50px;
  padding: 0 1.25vw;
  min-width: 190px;
  transition: 0.25s;
}
.create-form__button:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  transition: 0.5s;
}
.create-form__button:active {
  box-shadow: -2.5px 2.5px 0px #F46666;
  background-color: #9E6060;
  transition: 0.25s;
}
.create-form__button::selection {
  background-color: #9E6060;
}
.create-form__button_negative {
  text-shadow: -2px 2px 0px #9E6060, -4px 4px 0px #F46666;
  background-color: #9E6060;
  border: 2px solid #F46666;
  border-radius: 42px;
  box-shadow: -5px 5px 0px #F46666;
  height: 50px;
  padding: 0 1.25vw;
  margin-left: 3.125vw;
  min-width: 190px;
  transition: 0.25s;
}
.create-form__button_negative:hover {
  box-shadow: -2.5px 2.5px 0px #F46666;
  transition: 0.5s;
}
.create-form__button_negative:active {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  background-color: #F46666;
  transition: 0.25s;
}
.create-form__button_negative::selection {
  background-color: #F46666;
}

.edit-survey {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  border: none;
  padding: 0;
  margin: 6.25vh 1.25vw 0 1.25vw;
}
.edit-survey__line {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  margin-bottom: 4.1666666667vh;
}
.edit-survey__line_vertical {
  flex-flow: column nowrap;
  align-items: flex-start;
}
.edit-survey__line_left {
  justify-content: flex-start;
}
.edit-survey__label {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
}
.edit-survey__label::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.edit-survey__input {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  border-radius: 40px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 40px;
  box-sizing: border-box;
  width: 49.375vw;
  max-width: 790px;
  padding: 0 0 0 1.25vw;
  margin-left: 1.25vw;
  transition: 0.25s;
}
.edit-survey__input::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.edit-survey__input:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  outline: none;
  transition: 0.5s;
}
.edit-survey__input:focus {
  border-color: #F46666;
  box-shadow: -2.5px 2.5px 0px #F46666;
  outline: none;
  transition: 0.25s;
}
.edit-survey__textarea {
  display: flex;
  align-self: stretch;
  height: 25vh;
  overflow: hidden;
  resize: vertical;
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: -5px 5px 0px #9E6060;
  padding: 1.25vw;
  margin: 2.0833333333vh 0 0 1.25vw;
  transition: color 0.25s, box-shadow 0.25s, background-color 0.25s;
}
.edit-survey__textarea::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.edit-survey__textarea:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  outline: none;
  transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;
}
.edit-survey__textarea:focus {
  border-color: #F46666;
  box-shadow: -2.5px 2.5px 0px #F46666;
  outline: none;
  transition: color 0.25s, box-shadow 0.25s, background-color 0.25s;
}
.edit-survey__checkbox-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 37px;
  margin-right: 0.625vw;
}
.edit-survey__custom-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  box-shadow: -3px 3px 0 #9E6060;
  border-radius: 30px;
  transition: 0.25s;
  z-index: 0;
}
.edit-survey__checkbox {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  opacity: 0;
  margin: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.edit-survey__checkbox:active {
  background: none;
  outline: none;
}
.edit-survey__checkbox:focus {
  outline: none;
}
.edit-survey__checkbox:hover + .edit-survey__custom-box {
  box-shadow: -1.5px 1.5px 0px #9E6060;
  outline: none;
  transition: 0.5s;
}
.edit-survey__checkbox:checked + .edit-survey__custom-box {
  background-color: #9E6060;
  border-color: #F46666;
  box-shadow: -3px 3px 0px #F46666;
  outline: none;
  transition: 0.25s;
}
.edit-survey__button {
  color: #F8D4D4;
  font-family: "Ruda", sans-serif;
  font-weight: 900;
  font-size: 1.25rem;
  text-shadow: -2px 2px 0px #F46666, -4px 4px 0px #9E6060;
  background-color: #F46666;
  border: 2px solid #9E6060;
  border-radius: 42px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 40px;
  padding: 0 1.25vw;
  margin-top: 2.0833333333vh;
  transition: 0.25s;
}
.edit-survey__button:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  transition: 0.5s;
}
.edit-survey__button:active {
  box-shadow: -2.5px 2.5px 0px #F46666;
  background-color: #9E6060;
  transition: 0.25s;
}
.edit-survey__button::selection {
  background-color: #9E6060;
}

.edit-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  border: 2px solid #9E6060;
  border-radius: 21.5px;
  box-shadow: -5px 5px 0 #9E6060;
  margin: 2.0833333333vh 0 0 1.25vw;
  border-top: none;
  transition: 0.25s;
}
.edit-section:hover, .edit-section:hover .edit-section__top-bar {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  transition: 0.5s;
}
.edit-section:focus-within, .edit-section:focus-within .edit-section__top-bar {
  box-shadow: -2.5px 2.5px 0px #F46666;
  border-color: #F46666;
  transition: 0.25s;
}
.edit-section:focus-within .edit-section__header {
  color: #F46666;
  transition: 0.25s;
}
.edit-section:focus-within .edit-section__header::selection {
  color: #9E6060;
  background-color: #F46666;
  transition: 0.25s;
}
.edit-section__top-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  border-radius: 20px;
  box-shadow: -5px 5px 0 #9E6060;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 4.1666666667vh;
  transition: 0.25s;
}
.edit-section__header {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 1.25vw;
  transition: 0.25s;
}
.edit-section__header::selection {
  color: #F8D4D4;
  background-color: #9E6060;
  transition: 0.25s;
}
.edit-section__icon {
  margin-right: 1.25vw;
}
.edit-section__icon path {
  fill: #9E6060;
  transition: 0.25s;
}
.edit-section__icon:hover path, .edit-section__icon path:hover {
  fill: #F46666;
  transition: 0.25s;
}
.edit-section__line {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  margin: 0 1.25vw 4.1666666667vh 1.25vw;
}
.edit-section__line_vertical {
  flex-flow: column nowrap;
  align-items: flex-start;
}
.edit-section__label {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
}
.edit-section__label_small {
  font-size: 1.5rem;
}
.edit-section__label::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.edit-section__input {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  border-radius: 40px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 40px;
  box-sizing: border-box;
  width: 45.625vw;
  max-width: 730px;
  padding: 0 0 0 1.25vw;
  margin-left: 1.25vw;
  transition: 0.25s;
}
.edit-section__input::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.edit-section__input:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  outline: none;
  transition: 0.5s;
}
.edit-section__input:focus {
  border-color: #F46666;
  box-shadow: -2.5px 2.5px 0px #F46666;
  outline: none;
  transition: 0.25s;
}
.edit-section__textarea {
  display: flex;
  align-self: stretch;
  box-sizing: border-box;
  height: 25vh;
  overflow: hidden;
  resize: vertical;
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  border-radius: 20px;
  box-shadow: -5px 5px 0px #9E6060;
  padding: 1.25vw;
  margin: 2.0833333333vh 0 0 1.25vw;
  transition: color 0.25s, box-shadow 0.25s, background-color 0.25s;
}
.edit-section__textarea::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.edit-section__textarea:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  outline: none;
  transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;
}
.edit-section__textarea:focus {
  border-color: #F46666;
  box-shadow: -2.5px 2.5px 0px #F46666;
  outline: none;
  transition: color 0.25s, box-shadow 0.25s, background-color 0.25s;
}
.edit-section__button {
  color: #F8D4D4;
  font-family: "Ruda", sans-serif;
  font-weight: 900;
  font-size: 1.25rem;
  text-shadow: -2px 2px 0px #F46666, -4px 4px 0px #9E6060;
  background-color: #F46666;
  border: 2px solid #9E6060;
  border-radius: 42px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 40px;
  padding: 0 1.25vw;
  margin-top: 2.0833333333vh;
  transition: 0.25s;
}
.edit-section__button:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  transition: 0.5s;
}
.edit-section__button:active {
  box-shadow: -2.5px 2.5px 0px #F46666;
  background-color: #9E6060;
  transition: 0.25s;
}
.edit-section__button::selection {
  background-color: #9E6060;
}

.edit-question {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  border: 2px solid #9E6060;
  border-radius: 21.5px;
  box-shadow: -5px 5px 0 #9E6060;
  margin: 2.0833333333vh 0 0 1.25vw;
  border-top: none;
  transition: 0.25s;
}
.edit-question:hover, .edit-question:hover .edit-question__top-bar {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  transition: 0.5s;
}
.edit-question:focus-within, .edit-question:focus-within .edit-question__top-bar {
  box-shadow: -2.5px 2.5px 0px #F46666;
  border-color: #F46666;
  transition: 0.25s;
}
.edit-question:focus-within .edit-question__header {
  color: #F46666;
  transition: 0.25s;
}
.edit-question:focus-within .edit-question__header::selection {
  color: #9E6060;
  background-color: #F46666;
  transition: 0.25s;
}
.edit-question__top-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  border-radius: 20px;
  box-shadow: -5px 5px 0 #9E6060;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 4.1666666667vh;
  transition: 0.25s;
}
.edit-question__header {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 1.25vw;
  transition: 0.25s;
}
.edit-question__header::selection {
  color: #F8D4D4;
  background-color: #9E6060;
  transition: 0.25s;
}
.edit-question__icon {
  margin-right: 1.25vw;
}
.edit-question__icon path {
  fill: #9E6060;
  transition: 0.25s;
}
.edit-question__icon:hover path, .edit-question__icon path:hover {
  fill: #F46666;
  transition: 0.25s;
}
.edit-question__line {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  margin: 0 1.25vw 4.1666666667vh 1.25vw;
}
.edit-question__line_vertical {
  flex-flow: column nowrap;
  align-items: flex-start;
}
.edit-question__line_left {
  justify-content: flex-start;
}
.edit-question__label {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
}
.edit-question__label_small {
  font-size: 1.5rem;
}
.edit-question__label::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.edit-question__input {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  border-radius: 40px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 40px;
  box-sizing: border-box;
  width: 41.875vw;
  max-width: 670px;
  padding: 0 0 0 1.25vw;
  margin-left: 1.25vw;
  transition: 0.25s;
}
.edit-question__input::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.edit-question__input:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  outline: none;
  transition: 0.5s;
}
.edit-question__input:focus {
  border-color: #F46666;
  box-shadow: -2.5px 2.5px 0px #F46666;
  outline: none;
  transition: 0.25s;
}
.edit-question__textarea {
  display: flex;
  align-self: stretch;
  box-sizing: border-box;
  height: 25vh;
  overflow: hidden;
  resize: vertical;
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  border-radius: 20px;
  box-shadow: -5px 5px 0px #9E6060;
  padding: 1.25vw;
  margin: 2.0833333333vh 0 0 1.25vw;
  transition: color 0.25s, box-shadow 0.25s, background-color 0.25s;
}
.edit-question__textarea::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.edit-question__textarea:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  outline: none;
  transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;
}
.edit-question__textarea:focus {
  border-color: #F46666;
  box-shadow: -2.5px 2.5px 0px #F46666;
  outline: none;
  transition: color 0.25s, box-shadow 0.25s, background-color 0.25s;
}
.edit-question__select {
  color: #9E6060;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  border-radius: 40px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 40px;
  box-sizing: border-box;
  width: 41.875vw;
  max-width: 670px;
  padding: 0 0 0 1.25vw;
  margin-left: 1.25vw;
  transition: 0.25s;
}
.edit-question__select::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.edit-question__select:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  outline: none;
  transition: 0.5s;
}
.edit-question__select:focus {
  border-color: #F46666;
  box-shadow: -2.5px 2.5px 0px #F46666;
  outline: none;
  transition: 0.25s;
}
.edit-question__select:disabled {
  opacity: 1;
}
.edit-question__select option:hover {
  color: #F8D4D4;
  background-color: #9E6060;
}
.edit-question__select option:checked {
  color: #F8D4D4;
  background-color: #9E6060;
}
.edit-question__select option::selection {
  color: #F8D4D4;
  background-color: #9E6060;
}
.edit-question__hint, .edit-question__hint br {
  color: #F46666;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 2.0833333333vh 0 0 1.25vw;
}
.edit-question__hint::selection, .edit-question__hint br::selection {
  color: #F8D4D4;
  background-color: #F46666;
}

.survey {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4.1666666667vh;
  padding-bottom: 4.1666666667vh;
  border-bottom: 2px dashed #9E6060;
}
.survey_answer {
  justify-content: flex-start;
  width: auto;
}
.survey:last-of-type {
  border-bottom: none;
}
.survey__text {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  color: #F46666;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: #F8D4D4;
  border: 2px solid #9E6060;
  border-radius: 42px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 50px;
  padding: 0 1.25vw;
}
.survey__text_answer {
  margin-left: 2.5vw;
}
.survey__text::selection {
  background-color: #9E6060;
}
.survey__icon {
  margin-right: 0.625vw;
}
.survey__button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  color: #F8D4D4;
  font-family: "Ruda", sans-serif;
  font-weight: 900;
  font-size: 1.625rem;
  text-shadow: -2px 2px 0px #F46666, -4px 4px 0px #9E6060;
  background-color: #F46666;
  border: 2px solid #9E6060;
  border-radius: 42px;
  box-shadow: -5px 5px 0px #9E6060;
  height: 50px;
  width: 22.5vw;
  padding: 0 1.25vw;
  transition: 0.25s;
}
.survey__button span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.survey__button span::selection {
  background-color: #9E6060;
}
.survey__button:hover {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  transition: 0.5s;
}
.survey__button:active {
  box-shadow: -2.5px 2.5px 0px #F46666;
  background-color: #9E6060;
  transition: 0.25s;
}
.survey__button::selection {
  background-color: #9E6060;
}
.survey__button_long {
  width: 35.9375vw;
}
.survey__button_secondary {
  font-weight: 400;
  font-size: 1.5rem;
  background-color: #9E6060;
  text-shadow: none;
  border: 2px solid #F46666;
  box-shadow: -5px 5px 0px #F46666;
  width: auto;
}
.survey__button_secondary:hover {
  box-shadow: -2.5px 2.5px 0px #F46666;
  transition: 0.5s;
}
.survey__button_secondary:active {
  box-shadow: -2.5px 2.5px 0px #9E6060;
  background-color: #F46666;
  transition: 0.25s;
}
.survey__button_secondary::selection {
  color: #9E6060;
  background-color: #F8D4D4;
}

.delete {
  background-color: #F46666;
}
.delete span {
  color: #F8D4D4;
}
.delete span::selection {
  color: #F46666;
  background-color: #F8D4D4;
}
.delete svg:hover path, .delete path:hover {
  fill: #9E6060;
}
.delete path {
  fill: #F8D4D4;
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  justify-self: end;
  width: 100%;
  height: 75px;
  background-color: #9E6060;
  margin-top: auto;
}
.footer__copyright {
  color: #F8D4D4;
  text-shadow: -1px 1px 0px #9E6060, -2px 2px 0px #F46666;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
}
.footer__copyright::selection {
  color: #9E6060;
  background-color: #F8D4D4;
  text-shadow: -1px 1px 0px #F8D4D4, -2px 2px 0px #F46666;
}

/*# sourceMappingURL=main.css.map */
